<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
</head>
<body>
 <div class="container">
  <h1>Об авторе</h1>
  <h2>Чиж Игорь</h2>
  <p>Я занимаюсь разработкой программного обеспечения и люблю создавать полезные и интересные проекты.</p>
  <p>Пока я не могу предложить вам что-то прямо сейчас, но я работаю над несколькими проектами, которые скоро будут доступны для использования.</p>
  <div class="social">
   <a class="github" href="https://github.com/thechizhman" target="_blank">Github</a>
   <a class="telegram" href="https://t.me/thechizhman" target="_blank">Telegram</a>
   <a class="linkedin" href="https://www.linkedin.com/in/%D0%B8%D0%B3%D0%BE%D1%80%D1%8C-%D1%87%D0%B8%D0%B6-33733a265/" target="_blank">LinkedIn</a>
  </div>
 </div>
</body>
</html>
{% endblock %}